node_modules
dist
.env
coverage
.vscode

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
.python-version
pyproject.toml
*.egg-info/
.eggs/
.python-version
pip-wheel-metadata/
*.egg
*.manifest
*.spec
*.log
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
env/
venv/
ENV/
env.bak/
venv.bak/
.mypy_cache/
.dmypy.json
.pyre/

